<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Page</title>
    <style>
        *{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkgray;
}
/* .main-content{
    text-align: center;
} */
/* .heading{
    text-align: center;
} */
h1{
    text-align: center;
    color: white;
    font-size: 40px;
    text-decoration: underline;
    margin: 40px;
}
.form-data{
    box-sizing: border-box;
    border:  10px solid gray;
    height: 550px;
    width: 500px;
    /* text-align: center; */
    margin: -20px;
    position: relative;
    left: 550px;
    background-color: gray;
    
}
.image-data{
    height: 100px;
    width: 100px;
    position: relative;
    left: 300px;
    margin: 20px;
}

.choose{
    text-decoration: none;
    
}
.data-content{
    margin: 20px;
    position: relative;
    /* bottom: 20px; */
    color: white;
}
.label{
    font-size: 25px;
}
.label input{
    display: block;
    position: relative;
    left: 60px;
    font-size: 20px;
}
button{
    margin: 20px;
    padding: 5px;
    font-size: 30px;
    color: white;
    background-color: gray;
    position: relative;
    left: 100px;
    border-radius: 10px;
    border:  5px solid black;
    
}
button:hover{
    background-color: darkgray;
    color: black;
}
    </style>
</head>
<body>
    <div class="main-content">
        <div class="heading">
            <h1>Upadte Data (<%=user.name%>)</h1>
            <form action="/update/<%=user._id%>" method="post" class="form-data" >

                <div class="data-content">
                    <div class="label">
                        <label for="username">Student's Name:</label >
                        <input type="text" name="name" id="username" placeholder="Student's Name" required value="<%=user.name%>">
                    </div>
                    <div class="label">
                        <label for="fname">Father's Name:</label>
                        <input type="text" name="fname" id="fname" placeholder="Father's Name" required value="<%=user.fname%>">
                    </div>
                    <div class="label">
                        <label for="email">Email Id:</label >
                        <input type="email" name="email" id="email" placeholder="Email Id" required value="<%=user.email%>">
                    </div>
                    <div class="label">
                        <label for="dob">Date of Birth:</label>
                        <input type="date" name="dob" id="dob" placeholder="Student's Name" required value="<%=user.dob%>">
                    </div>
                    

                    <div class="label">
                        <label for="course">Course Name:</label>
                        <input type="text" name="course" id="course" placeholder="Course Name" required value="<%=user.course%>">
                    </div>
                    <div class="label">
                        <label for="univ">University Name:</label>
                        <input type="text" name="university" id="univ" placeholder="University Name" required value="<%=user.university%>">
                    </div>
                    
                        <button type="submit">Update</button>
                    
                </div>
            </form>
        </div>
    </div>
</body>
</html>